.slide-config {
  margin: 2vw 10vw 5vw 10vw;
  border: solid 2px #1C1C1C;
  border-radius: 5px;
}
.home-animation {
  animation: cursorHome 500ms steps(50) infinite normal,
    typingHome 1.5s steps(50) 1s normal both;
}
@keyframes typingHome {
  from {
    width: 0;
  }
  to {
    width: 8.8em;
  }
}
@keyframes cursorHome {
  from {
    border-right-color: #1c1c1c;
  }
  to {
    border-right-color: transparent;
  }
}
