#card-config6 {
  margin: 5vw 10vw 2vw 10vw;
  border: solid 1px #1C1C1C;
}
#card-text6 {
  font-size: 20px;
  text-align: center;
  color: #1C1C1C;
  background-color: greenyellow;
  border-radius: 3px;
  border: solid 1px #1C1C1C;
  font-family: 'Syne Mono', monospace;
}
#card-subtext6 {  
  border-radius: 3px;
  border: solid 1px #1C1C1C;
  font-size: 20px;
  text-align: center;
  font-family: 'Syne Mono', monospace;
}