#qrcode {
  margin: 1rem 0;
  max-width: 100%;
}
.apoie-animation {
  animation: cursorApoie 500ms steps(50) infinite normal, 
    typingApoie 3s steps(50) 1s normal both;
}

@keyframes typingApoie {
  from{
    width: 0;
  }
  to{
    width: 25em;
  }
}
@keyframes cursorApoie {
  from {
    border-right-color: #1C1C1C;
  }
  to {
    border-right-color: transparent;
  }
}