.producao-animation {
  animation: cursorProducao 500ms steps(50) infinite normal,
    typingProducao 3s steps(50) 1s normal both;
}
@keyframes typingProducao {
  from {
    width: 0;
  }
  to {
    width: 21.3em;
  }
}
@keyframes cursorProducao {
  from {
    border-right-color: #1c1c1c;
  }
  to {
    border-right-color: transparent;
  }
}