@import url("https://www.w3schools.com/w3css/4/w3.css");

#social {
  font-size: 25px;
  text-align: center;
  color: white;
  font-style: normal;
  font-family: Lora, serif;
  position: fixed;
}
.w3-ul li {
  padding: 8px 16px;
  border-bottom: 0px solid #ddd !important;
}
.links-menu img:hover {
  width: 70px;
}
.box {
  width: 293px;
  bottom: 48px;
  right: -384px;
  padding: 16px 25px 0px 25px;
  z-index: 9999;
}