@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

img {
  margin-top: -20px;
  margin-bottom: -20px;
}
div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.nav-text {
  color: #F5F5F5;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
} 
#pesquisa { 
    height: 30px;
}
#pesquisa2 {
  padding: 3px;
  color: #1C1C1C;
  background-color: greenyellow;
  border: solid 1px #1C1C1C;
}
#pesquisa2:hover {
  color: greenyellow;
  border: none;
  background-color: #1C1C1C;
}
li {
  list-style: none!important;
  }
Nav {  
  background-color: #1C1C1C;
  opacity: 0.9;
}
.link-formato {
  text-decoration: none!important;
}
.link-formato:hover {
  color: greenyellow;
}