@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

img {
  margin-top: -20px;
  margin-bottom: -20px;
}
div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.nav-text {
  color: #F5F5F5!important;
  top: 0;
  width: 100%;
} 
Nav {  
  background-color: #1C1C1C;
  opacity: 0.9;
}
.link-formato {
  text-decoration: none!important;
  padding-right: 1rem;
}
.link-formato:hover {
  color: greenyellow;
}
@import url("https://www.w3schools.com/w3css/4/w3.css");

.social {
  padding-right: 1rem;
  position: relative;
}
.social a {
    padding-right: .6rem;
}
.links-menu img:hover {
  width: 40px;
}