.av-animation {
  animation: cursorAV 500ms steps(50) infinite normal,
    typingAV 3s steps(50) 1s normal both;
}
@keyframes typingAV {
  from {
    width: 0;
  }
  to {
    width: 18.7em;
  }
}
@keyframes cursorAV {
  from {
    border-right-color: #1c1c1c;
  }
  to {
    border-right-color: transparent;
  }
}