#conteudo {
  padding: 0px;
  margin: 0px;
}
.soundcloud-um {
  font-size: .6rem; 
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
}
.soundcloud-dois {
  color: #95A5A6; 
  text-decoration: none;
}

.sonora-animation {
  animation: cursorSonora 500ms steps(50) infinite normal,
    typingSonora 1.3s steps(50) 1s normal both;
}
@keyframes typingSonora {
  from {
    width: 0;
  }
  to {
    width: 7em;
  }
}
@keyframes cursorSonora {
  from {
    border-right-color: #1c1c1c;
  }
  to {
    border-right-color: transparent;
  }
}
.sonora2-animation {
    animation: cursorSonora2 500ms steps(50) infinite normal,
      typingSonora2 2s steps(50) 2.3s normal both;
  }
  @keyframes typingSonora2 {
    from {
      width: 0;
    }
    to {
      width: 14.3em;
    }
  }
  @keyframes cursorSonora2 {
    from {
      border-right-color: #1c1c1c;
    }
    to {
      border-right-color: transparent;
    }
  }